.wave {
  background-image: url(../../assets/img/svg/contactanos/wave_contactanos.svg);
}

.father-container{
    width: 95vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
    font-style: normal;
    position: relative;
    background-color: rgb(145, 141, 141);
}

.father-container::before{
    content: '';
    display: inline-block;
    background-color: var(--colorPrimario);
    width: 100%;
    height: 120px;
    top: 0;
    position: absolute;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.card-1{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    
}

.card-1 label{
    font-size: var(--letterSizeMedium);
    margin: 15px 0 15px 0;
    color: var(--colorPrimario);
    font-weight: 600;
    text-align: center;
    
}

.card-1 input{
    height: 50px ;
    border-radius: 20px;
    border: none;
}
.card-1 input:focus{
    border: 3px solid var(--colorPrimario);
    outline: none;
}

.card-1 textarea{
    resize: none;
    border-radius: 25px;
    margin-bottom: 25px;
}

.card-1 textarea:focus{
    border: 3px solid var(--colorPrimario);
    outline: none;
}

.card-1 button{
    color: white;
    background-color: var(--colorSecundario);
    border-radius: 24px;
    margin-bottom: 15px;
    height: 45px;
    border: none;
    transition: all 0.4s ease;
    font-weight: 700;
    font-size: 20px;

}


.card-1 button:hover{
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: rgb(145, 7, 7);
}

.card-1 button:active{
    background-color: none;
}


.informacion-container{
    top: 0;
    width: 70vw;
    margin: auto;
    background-color: var(--white);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    height: 250px;
    
}

.informacion-container h1{
    border-bottom: 3px solid var(--colorSecundario);
    border-radius: 5px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px ;
    color: var(--colorPrimario);
}

.informacion-container ul{
    padding-left: 0px;
}

.informacion-container li{
    list-style: none;
    line-height: 30px;
    font-size:20px;
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 12px;
}


.informacion-container li i{
    position:absolute;
    left: 15px;
}


/* Responsive */

@media  screen and (min-width: 428px) {

    .informacion-container{
        display:flex;
        flex-direction: column;
    }
    .informacion-container h1{
        display: inline-block;
        display: flex;
        align-items: center;
    }
    .informacion-container li:nth-child(2){
        padding-left: 30px;
    }



}