.wave {
  background-image: url(../../assets/img/svg/contactanos/wave_contactanos.svg);
}

/* border Indicator */
.list--item:nth-child(6) > a {
  border-bottom: 3px solid var(--colorSecundario);
}







/* ----- */
.contac{
  width: 100%;
}
.contact-form{
  width: 100%;
  height: 1000px;
  margin-bottom: -10%;
}
   
