.container-paragraph {
  height: 400px;
  width: 100vw;

  position: relative;
  display: flex;
  justify-content: center;
}

.container-paragraph--text {
  width: 340px;
  height: 80%;
  display: flex;
  background-color: #fff;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  padding: 0 20px 0 20px;
  position: absolute;
  bottom: 0;
  border-radius: 39% 57% 10% 33% / 59% 47% 42% 31%;
}

.container-paragraph--wave {
  position: absolute;
  bottom: -10px;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/img/svg/programs/wave_programs_footer_contacts.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

@media (min-width: 800px) {
  .container-paragraph {
    margin-top: 300px;
  }

  .container-paragraph--text {
    font-size: var(--letterSizeMedium);
    padding: 0 30px 0 30px;
    width: 600px;
    height: 130%;
    bottom: 20px;
  }

  .container-paragraph--wave {
    position: absolute;
    bottom: -25px;
  }
}
