.second-container {
	position: relative;
	width: 100vw;
	height: 600px;
	display: flex;
	justify-content: center;
	color: var(--white);
	margin-top: 100px;
}

.second-container--wrapper {
	position: absolute;
	width: 110vw;
	height: 100%;
	border-radius: 50% 50% 0% 0% / 10% 10% 0% 0%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.mision,
.vision {
	height: 50%;
	width: 100vw;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.mision--picture,
.mision--img,
.vision--picture,
.vision--img {
	position: absolute;

	width: 100%;
	height: 100%;
}

.mision--img,
.vision--img {
	object-fit: cover;
}

.mision--title,
.vision--title {
	position: relative;
	font-size: var(--letterSizeBig);
	text-align: center;
	margin-top: 70px;
	margin-bottom: 0;

	transform: translateY(100px);
	opacity: 0;
	transition: all 0.8s ease;
}

/* scroll efect title */

.second-container__scroll .mision--title,
.second-container__scroll .vision--title {
	transform: translateY(0px);
	opacity: 1;
}

.mision--paragraph,
.vision--paragraph {
	position: relative;
	width: 90%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 70px;
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.8s ease;
}

/* scroll efect text */
.second-container__scroll .mision--paragraph,
.second-container__scroll .vision--paragraph {
	transform: translateY(0px);
	opacity: 1;
}

@media (min-width: 1000px) {
	.second-container {
		height: 500px;
	}

	.second-container--wrapper {
		flex-direction: row;
		justify-content: center;
	}

	.mision,
	.vision {
		height: 100%;
		width: 50vw;
	}

	.mision--title,
	.vision--title {
		font-size: calc(var(--letterSizeTitle) * 1.4);

		margin-top: 100px;
	}
	.mision--paragraph,
	.vision--paragraph {
		font-size: calc(var(--letterSizeSmall) * 1.4);
		margin-bottom: 100px;
		max-width: 400px;
		height: 130px;
	}
}
