/* Footer */

.footer {
  width: 100%;
  height: 300px;
  background-color: var(--colorPrimario);
}

.container-contact {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.contact {
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.logo__footer {
  top: -25px;
  left: 10px;
  z-index: 0;
}

/* sujeto a cambio */

.logo__footer > .logo--title {
  color: var(--white);
  font-style: normal;
}

.contact--list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  width: 40%;
  max-width: 300px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

.contact--item a {
  font-size: 2rem;
  color: var(--white);
  text-decoration: none;
}

.container-autor {
  position: absolute;
  font-weight: bold;
  font-size: 0.8rem;
  opacity: 0.75;
  letter-spacing: 2px;
  top: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  /* recodar si va italica */
  font-style: normal;
}

.footer--info {
  margin-top: 0;
  margin-bottom: 0;
  width: 120px;
  position: absolute;
  top: 60px;
  right: 5%;
  opacity: 0.75;
  color: var(--white);
  font-style: normal;
  font-size: calc(var(--letterSizeSmall) - 2px);
}

@media (min-width: 800px) {
  .footer--info {
    width: 220px;
  }
}

@media (min-width: 1300px) {
  .contact--item a i {
    position: relative;
    top: 0;
    transition: top 0.3s ease;
  }

  .contact--item a i:hover {
    top: -8px;
  }
}
