/* Pantalla de carga */
.load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--colorPrimario);
  z-index: 7000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transition: opacity 1s ease;
}

.load__end {
  opacity: 0;
}

.load--icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid var(--white);
  border-top: 10px solid var(--colorSecundario);
  /* Investigar */
  animation: spinner 2s linear infinite;
}

/* Investigar */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
