/* Principal */

* {
  box-sizing: border-box;
}

:root {
  --black: hsl(0, 0%, 5%);
  --white: hsl(0, 0%, 95%);
  --colorPrimario: hsl(224, 70%, 40%);
  --colorPrimario2: hsl(231, 70%, 30%);
  --colorSecundario: hsl(355, 70%, 50%);
  /* --colorSecundarioText: hsl(55, 90%, 70%); */
  --shadowGeneral: 0 0 5px -3px var(--black);
  --letterSizeSmall: 1rem;
  --letterSizeMedium: 1.4rem;
  --letterSizeBig: 1.8rem;
  background-color: var(--white);
  color: var(--black);
  font-family: sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

.main {
  position: relative;
}
