.wave {
  background-image: url(../../assets/img/svg/even_t/wave_events.svg);
}

/* border Indicator */
.list--item:nth-child(5) > a {
  border-bottom: 3px solid var(--colorSecundario);
}
/* ----- */

.events-title {
  display: none;
}

.events {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 3px solid var(--colorPrimario);
}

.events:last-of-type {
  margin-bottom: 50px;
}

.events h4,
.events p {
  width: 80vw;
}

.events h4 {
  margin-bottom: 0;
  color: var(--colorPrimario2);
}

@media (min-width: 1300px) {
  .events-title {
    display: flex;
    justify-content: space-evenly;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .events-title h3 {
    display: inline-block;
    color: var(--colorPrimario2);
  }

  .events {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1300px;
  }

  .events h4 {
    display: none;
  }

  .events p {
    max-width: 250px;
  }

  .events p:first-of-type {
    margin-left: 10px;
  }
}
