.wave {
	background-image: url(../../assets/img/svg/blog/wave_blog.svg);
}

/* border Indicator */
.list--item:nth-child(4) > a {
	border-bottom: 3px solid var(--colorSecundario);
}
/* ----- */

/* NEWS Blog */

.blog--list {
	--width: 340px;
	position: relative;
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 100px;
	/* para centrar en grandes resoluciones */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	/* cambiar en PC */
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	/* son 6000px */
	height: 2000px;
}

.blog--list-item {
	width: var(--width);
	height: calc(var(--width) * 1.3405);

	transition: height 0.4s, transform 0.3s;
}

.blog--article-desac {
	display: none;
}

.blog--article-wrapper {
	width: 100%;
	height: 100%;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	background-image: linear-gradient(180deg, #ffffff 50%, #f0f2fa 100%);
	overflow: hidden;
}

.blog--article {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.blog--article-picture {
	height: 45%;
	width: 100%;
	position: relative;
}

.blog--article-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* after de picture */

[class*='blog--article-wave_']::after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-repeat: no-repeat;
	background-position: bottom;
}

.blog--article-wave_1::after {
	background-image: url(../../assets/img/svg/blog/blog_new_1.svg);
}
.blog--article-wave_2::after {
	background-image: url(../../assets/img/svg/blog/blog_new_2.svg);
}
.blog--article-wave_3::after {
	background-image: url(../../assets/img/svg/blog/blog_new_3.svg);
}

.blog--article-wave_4::after {
	background-image: url(../../assets/img/svg/blog/blog_new_4.svg);
}

.blog--article-wave_5::after {
	background-image: url(../../assets/img/svg/blog/blog_new_5.svg);
}

.blog--article-wave_6::after {
	background-image: url(../../assets/img/svg/blog/blog_new_6.svg);
}

.blog--article-wave_7::after {
	background-image: url(../../assets/img/svg/blog/blog_new_7.svg);
}

.blog--article-wave_8::after {
	background-image: url(../../assets/img/svg/blog/blog_new_8.svg);
}

.blog--article-wave_9::after {
	background-image: url(../../assets/img/svg/blog/blog_new_9.svg);
}

.blog--article-wave_10::after {
	background-image: url(../../assets/img/svg/blog/blog_new_10.svg);
}

.blog--article-time {
	position: absolute;
	left: -5px;
	top: -2.5px;
	width: 180px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 50px;
	font-size: calc(var(--letterSizeSmall) / 1.3);
	color: var(--white);
	background-color: var(--colorPrimario);
}

.blog--article-title {
	color: var(--colorPrimario2);
	position: relative;
	top: -10px;
	margin-bottom: 10px;
	text-align: center;
}

.blog--article-paragraph {
	width: 85%;
	text-align: center;
	margin-top: 0;
	font-weight: 500;
}

.blog--article-paragraph__open {
	display: none;
}

.article--buttom-container {
	width: calc(34.55px * 3.1034);
}

/* buttom BLOG and PROGRAMS */

.article--buttom {
	width: calc(34.55px * 3.1034);
	height: 34.55px;
	background-color: var(--colorSecundario);
	color: var(--white);
	border-radius: 55px;
	display: flex;
	align-items: center;
	padding-left: 12px;
	text-decoration: none;
	cursor: pointer;
	position: absolute;

	bottom: 20px;
	transition: width 0.3s ease;
}

.article--buttom::after {
	content: '';
	border-left: 12px solid var(--white);
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	right: 12px;
}

/* boton para ver mas articulos anteriores */

.blog-extension {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: -1%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.blog-extension--link {
	color: var(--colorSecundario);
	text-decoration: none;
	margin-right: 5%;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 55px;
	font-weight: 600;
	transition-property: color, background-color;
	transition-duration: 0.2s;
}

/* ELEMETOS destacados */

.star {
	background-image: url(../../assets/img/png/star/star.png);
	height: 30px;
	width: 30px;
	position: absolute;
	background-size: contain;
	bottom: 20px;
	left: 20px;
	transition: transform 0.4s;
}

@media (min-width: 800px) {
	.blog--list {
		height: auto;
		display: grid;
		grid-template-columns: var(--width) var(--width);
		/* son 5 filas*/
		grid-template-rows: repeat(2, 600px);
	}
}

@media (min-width: 1300px) {
	.blog--list {
		--width: 1000px;
		display: flex;
		/* son 4500px */
		height: 1500px;
	}

	.blog--list-item {
		width: var(--width);
		height: calc(var(--width) / 3);
	}

	.blog--article-wrapper {
		border-radius: 50px;
		background: linear-gradient(-90deg, #ffffff 50%, #f0f2fa 102.11%);
	}

	.blog--list-item:nth-child(2n) .blog--article-wrapper {
		background: linear-gradient(90deg, #ffffff 50%, #f0f2fa 102.11%);
	}

	.blog--article {
		justify-content: center;
		align-items: flex-start;
	}

	.blog--list-item:nth-child(2n) .blog--article {
		align-items: flex-end;
	}

	.blog--article-picture {
		height: 100%;

		width: 40%;
		position: absolute;
		right: 0;
	}

	.blog--list-item:nth-child(2n) .blog--article-picture {
		left: 0;
	}

	/* after de picture */

	[class*='blog--article-wave_']::after {
		width: calc(var(--width) / 2.6);

		transform: rotate(90deg);
		left: -45px;
	}

	.blog--article-wave_2::after,
	.blog--article-wave_4::after,
	.blog--article-wave_6::after,
	.blog--article-wave_8::after,
	.blog--article-wave_10::after {
		transform: rotate(-90deg);
		left: 45px;
	}

	.blog--article-time {
		left: calc(100% - 190px);
	}

	.blog--list-item:nth-child(2n) .blog--article-time {
		left: 10px;
	}

	.blog--article-title {
		margin-bottom: 0px;
		position: absolute;
		text-align: left;
		width: 550px;
		left: 50px;
		top: 20px;
		font-size: var(--letterSizeMedium);
	}

	.blog--list-item:nth-child(2n) .blog--article-title {
		left: calc(100% - 600px);
	}

	.blog--article-paragraph {
		width: 50%;

		position: relative;
		left: 50px;
		text-align: left;
		margin-bottom: 0;
		font-size: calc(var(--letterSizeSmall) * 1.2);
	}

	.blog--list-item:nth-child(2n) .blog--article-paragraph {
		left: -100px;
	}

	.article--buttom-container {
		width: calc(40px * 3.1034);
		height: 40px;
		position: absolute;
		/* mitad de su width */
		left: calc(50% - 53.6px);
		/* doble de su height */
		top: calc(100% - 69.1px);
		display: flex;

		justify-content: center;
	}

	.blog--list-item:nth-child(2n) .article--buttom-container {
		left: calc(100% - 170px);
	}

	/* ELEMETOS destacados - PARES IN RECTANGULAR */

	.blog--list-item:nth-child(2n) .star {
		top: 20px;
		left: calc(100% - 50px);
	}

	/* buttom BLOG and PROGRAMS */
	.blog--list-item:hover {
		transform: scale(1.03, 1.03);
	}

	.article--buttom:hover {
		width: calc(34.55px * 3.4827);
	}

	/* boton para ver mas articulos anteriores */

	.blog-extension--link:hover {
		color: var(--white);
		background-color: var(--colorSecundario);
	}

	/* ELEMETOS destacados HOVER */

	.blog--list-item:hover .star {
		transform: rotate(72deg);
	}
}
