/* FIRST MOBILE */

/* Seccion estrategias */

.container-card2 {
  position: relative;
  margin-top: 100px;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
}

.background-card2,
.background-card2 > picture,
.background-card2--img {
  border-radius: 50% 50% 0% 0% / 10% 10% 0% 0%;
}

.background-card2 {
  position: absolute;
  width: 110vw;
  height: 100%;
  background-color: hsla(224, 70%, 40%, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-card2 > picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background-card2--img {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-card2--size {
  max-width: 1600px;
  height: 85%;
  width: 85%;
  position: relative;
  /* posicionamineto del elemento antes de desplazamiento */
  left: -50%;
  transition: left 1.5s ease;
}

/* efecto scroll con opacidad y desplazamiento agregado */
.background-card2__scroll .background-card2--size {
  left: 0%;
}

.card2 {
  width: 100%;
  height: 100%;

  position: relative;
  left: 0%;
  color: var(--white);
  opacity: 0;
  transition: opacity 1.5s ease;
}

/* transicion opacidad */

.card2__scroll {
  opacity: 1;
}

.card2--title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 3px;
  padding-bottom: 5px;
  font-size: var(--letterSizeBig);
  border-bottom: 4px solid var(--colorSecundario);
  border-radius: 10px;
}

/* contenedor Lista */

.card2--list-container {
  height: 75%;
}

.card2--list-paragraph {
  font-size: var(--letterSizeMedium);
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.card2--list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.card2--list li {
  height: 45px;
  font-size: calc(var(--letterSizeSmall) * 1.2);
}
/* Contenedor parrafo */
.card2--paragraph-container {
  font-size: calc(var(--letterSizeSmall) * 1.1);
}

.card2--paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

/* ADAPTACION A DISLAY DE PC */

@media (min-width: 900px) {
  .background-card2 {
    background-color: transparent;
    background-image: linear-gradient(
      to left,
      /* uilizar medidas de opacidad sin subdecimales */ hsla(224, 70%, 40%, 0.8) 60%,
      hsla(0, 0%, 95%, 0.3) 80%
    );
  }

  .background-card2--size {
    display: flex;
    justify-content: flex-end;
  }

  .card2 {
    width: 65%;
  }
}

@media (min-width: 1300px) {
  .card2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .card2--title {
    position: absolute;
    left: 0;
    top: 0;
  }

  /* contenedor Lista */
  .card2--list-container {
    position: absolute;
    left: 0;
  }

  .card2--list li {
    height: 55px;
  }

  /* Contenedor parrafo */
  .card2--paragraph-container {
    width: 400px;
  }
}
