/* FIRST MOBILE */

/* Seccion estrategias */

.container-card2 {
  position: relative;
  margin-top: 100px;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
}

.background-card2,
.background-card2 > picture,
.background-card2--img {
  border-radius: 50% 50% 0% 0% / 10% 10% 0% 0%;
}

.background-card2 {
  position: absolute;
  width: 110vw;
  height: 100%;
  background-color: hsla(224, 70%, 40%, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-card2 > picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background-card2--img {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-card2__size {
  max-width: 1600px;
  height: 85%;
  width: 85%;
  position: relative;
  /* posicionamineto del elemento antes de desplazamiento */
  left: -50%;
  transition: left 1.5s ease;
}

.background-card2__scroll .background-card2__size {
  left: -50%;
}

/* efecto scroll con opacidad y desplazamiento agregado */

.card2 {
<<<<<<< HEAD
  /* border: 1px solid black;  */
=======
  /* marcos de referencia */
  border: 2px solid black;
  /*  */
>>>>>>> 0e4df4f007fdfda0b2b05f124e1a2b09c2a871f8
  width: 100%;
  height: 100%;

  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  left: 0;

  /* NO eliminar efeto opacidad, se ve bonito */
  opacity: 0;
  transition: opacity 1.5s ease;
}

/* transicion opacidad */

.card2__scroll {
  opacity: 1;
}

.card2--buttom {
  text-decoration: none;
  position: absolute;
  top: 75%;
  font-size: 1.5rem;
  padding: 6px 12px 6px 12px;
  border: 2px solid var(--colorPrimario);
  background-color: var(--white);
  cursor: pointer;
  color: var(--black);
  transition: top 0.3s ease;
}

/* contruccion contenido PEDRO */

.titulo-c {
  font-size: calc(var(--letterSizeBig) * 1.2);
  color: hsl(0, 0%, 100%);
  margin-left: -50%;
  letter-spacing: 5px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 50px;
}

.card2 p {
  position: relative;
  top: -80px;
  width: 50%;
}
.lista {
  width: 100%;
  position: relative;
  top: -25px;
  margin: 0px 0px 0px 50px;
}
.Lista-s {
  position: relative;
  top: -40px;
  left: 50px;
  width: 75%;
  color: white;
  height: 45%;
  font-size: var(--letterSizeSmall);
}

.Lista-s p {
  position: relative;
  top: 20px;
  margin: 20px 0px 30px 0px;
  left: -55px;
}
.Lista-s li {
  line-height: 20px;
  font-weight: 700;
  font-weight: 500;
<<<<<<< HEAD

}

.card-paragraph{
  font-size: var(--letterSizeSmall);
  color: var(--white);
  position: relative;
  left: -55px;
  line-height: 1.2em;
  

}



.card2__scroll {
  opacity: 1;
}



.card2--buttom {
  text-decoration: none;
  position: absolute;
  top: 75%;
  font-size: 1.5rem;
  padding: 6px 12px 6px 12px;
  border: 2px solid var(--colorPrimario);
  background-color: var(--white);
  cursor: pointer;
  color: var(--black);
  transition: top 0.3s ease;
=======
>>>>>>> 0e4df4f007fdfda0b2b05f124e1a2b09c2a871f8
}
/* ADAPTACION A DISLAY DE PC */

@media (min-width: 900px) {
  .background-card2 {
    background-color: transparent;
    background-image: linear-gradient(
      to left,
      /* uilizar medidas de opacidad sin subdecimales */ hsla(224, 70%, 40%, 0.7) 60%,
      hsla(0, 0%, 95%, 0.3) 80%
    );
  }

  .background-card2__size {
    display: flex;
    justify-content: flex-end;
  }

  .card2 {
    width: 60%;
  }
}

@media (min-width: 1300px) {
  .card2--buttom:hover {
    top: 73%;
  }
}

/* Fin seccion estrategias */
