.programs {
  --width: 300px;
}

.programs--title {
  text-align: center;
  color: var(--colorPrimario2);
  margin-top: 120px;
}

.programs--list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white);
  display: flex;
  /* cambiar en PC */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 2000px;
}

.programs--list-item {
  width: var(--width);
  height: calc(var(--width) * 1.1915);
  background: linear-gradient(
    213.1deg,
    hsl(224, 70%, 40%) 23.22%,
    hsl(223, 49%, 23%) 92%
  );
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  border-radius: 30px;
}

.programs--list-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.programs--list-icon {
  width: 100px;
  height: 100px;

  position: relative;
  top: 8%;
  transition: top 0.6s ease;
}

.programs--list-title {
  position: relative;
  top: 10%;
  margin-bottom: 0;
  font-size: var(--letterSizeBig);
  text-align: center;

  /* semi bold */
  font-weight: 600;
  transition: top 0.6s ease;
}

.programs--list-item:nth-child(2) .programs--list-title {
  top: 14%;
  transition: top 0.6s ease;
}

.programs--list-paragraph {
  opacity: 0;
  position: absolute;
  top: 35%;
  text-align: center;
  width: 85%;
  transition: opacity 0.6s ease;
}

.programs--list-buttom {
  width: calc(34.55px * 3.1034);
  height: 34.55px;
  background-color: var(--white);
  color: var(--colorSecundario);
  border-radius: 55px;
  display: flex;
  align-items: center;
  padding-left: 12px;

  cursor: pointer;
  position: absolute;
  bottom: 13%;
  transition: width 0.3s ease;
}

.programs--list-buttom::after {
  content: '';
  border-left: 12px solid var(--colorSecundario);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  right: 12px;
}

@media (min-width: 1000px) {
  .programs--list-item:hover .programs--list-icon {
    top: -30%;
  }

  .programs--list-item:hover .programs--list-title {
    top: -20%;
  }
  /* 
  .programs--list-item:nth-child(2):hover .programs--list-title {
  } */

  .programs--list-item:hover .programs--list-paragraph {
    opacity: 1;
  }

  .programs--list-buttom:hover {
    width: calc(34.55px * 3.4827);
  }
}
