/* aliados */

.alliance--title {
  font-size: var(--letterSizeBig);
  color: var(--colorPrimario2);
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.alliance--list-container {
  --sizeAlliance: 400px;
  height: var(--sizeAlliance);
}

.alliance--list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  /* solo cambiar un valor para redimensionar todo */

  height: 100%;
}

.alliance--list-item,
.alliance--list-link {
  width: 100vw;
  height: 100%;
}

.alliance--list-link,
.alliance--list-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alliance--list-picture {
  height: 80%;
  /* equivalente al alto */
  width: calc(var(--sizeAlliance) * 0.8);
  border-radius: 50%;
  /* VARIABLE de shadowGeneral modificada */
  box-shadow: 0 0 5px -1px var(--black);
}

.alliance--list-img {
  height: 70%;
  width: 70%;
}

/* slider con CSS en movil */

@media (max-width: 999px) {
  .alliance--list__mobile {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .alliance--list__mobile .alliance--list-item {
    scroll-snap-align: center;
  }
}
