/* banner */

.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* --colorPrimario y colorPrimario2 con opacidad */
  background-image: linear-gradient(
    hsla(230, 70%, 30%, 0.6) 30%,
    hsla(224, 85%, 55%, 0.7) 70%
  );
}

.banner--picture {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -100;
}

.banner--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner--title {
  position: absolute;
  color: var(--white);
  font-size: 2rem;
  z-index: 100;
  font-size: calc(var(--letterSizeGiant) / 3);
  margin-right: 50px;
  letter-spacing: 3px;
  /* extra bold */
  font-weight: 800;
}

@media (min-width: 600px) {
  .banner--title {
    font-size: calc(var(--letterSizeGiant) / 1.5);
  }
}

@media (min-width: 1000px) {
  .banner--title {
    font-size: var(--letterSizeGiant);
    margin-right: 200px;
  }
}

/* wave */

.wave-container {
  position: relative;
  top: -390px;
  height: 400px;
}

.wave {
  position: absolute;
  top: 10px;
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
